
@import "compass/reset"
@import "compass"
@import "vendor/font-awesome"

=position($position, $args)
	position: $position
	$offsets: top right bottom left
	@each $o in $offsets
		$i: index($args, $o)
		@if $i and $i + 1 <= length($args) and type-of( nth($args, $i + 1) ) == number
			#{$o}: nth($args, $i + 1)



=absolute($args)
	@include position(absolute, $args)


=fixed($args)
	@include position(fixed, $args)


=relative($args)
	@include position(relative, $args)


=test_border($color)
	border: 1px solid $color



$contentWidth: 900px
$widePageWidth: 2561px

$headerHeight: 800px

$angle_containerHeight: 188px

$blueColor: #14a6e2
$blueGreenColor: #00b9c1
$yellow: #f6a121
$red: #e74b62
$purple: #bc61e7

$outlineMovingDistance: 800px


// STRUCTURE --------------------------
@media screen and (max-width:$contentWidth)
	.page
		width: $contentWidth

@media screen and (min-width:$widePageWidth)
	.page
		margin: 0 auto
		width: $widePageWidth - 1

// body
	// background-color: $blueGreenColor

.page
	position: relative

section .content
	position: relative
	width: $contentWidth
	margin: 0 auto

.angle_container
	overflow: hidden
// -------------------------------------




// Entire Setting ----------------------
*
	font-family: Helvetica Neue
h1
	font-size: 60px
	font-weight: bolder
h2
	font-size: 25px
// -------------------------------------









#header
	height: $headerHeight
	position: relative
	overflow: visible
	#headerBackground
		height: 110%
		width: 100%
		position: absolute
		z-index: 1
		background: url(../img/tmp/eyecatch4.jpg)
		background-size: cover
		background-position: -100px
	.content
		height: $headerHeight
		color: $blueColor
		font-family: Futura
		z-index: 2

		// span#top_date
		// 	display: block
		// 	padding: 80px 0
		// 	font-size: 40px
		// 	font-family: Helvetica Neue
		// 	font-weight: 100
		// 	text-align: center
		// 	letter-spacing: 3px
		// 	// +test_border(red)
		// 	#hyphen
		// 		font-size: 50px
		// 		// margin: 0 5px

		#top_swift_x_aizu// TODO もっとシンプルなCSSにする
			// +test_border(blue)
			position: relative
			left: 54px
			padding-top: 100px
			text-align: center

			>div
				display: inline-block
				position: relative
				// +test_border(red)
			.top_icons
				width: 250px
				text-align: center
				img
					position: relative
					display: block
					height: 250px
					margin: 0 auto
				p
					text-align: center
					font-size: 70px
					margin-top: 25px
					font-weight: 900
					letter-spacing: 6px

			#top_aizu
				width: 344px//画像の幅
				img
					top: 9px

			#top_swift
				margin-right: 14px

			#top_x
				font-size: 200px
				font-weight: 900
				margin: 0 50px
				top: -104px

		#top_title
			margin: 87px auto
			width: 800px
			text-align: center
			.text > span
				width: 100%
				font-size: 95px
				font-weight: bold

		#take-a-look
			text-align: center
			a
				border: 2px solid $blueColor
				padding: 10px
				+transition(background-color 0.2s linear 0, color 0.2s linear 0)
				span
					font-size: 17px
				i
					padding-left: 10px
			a:link,a:visited
				color: $blueColor
				font-weight: normal
			a:hover
				background-color: $blueColor
				color: white
				text-decoration: underline
				cursor: pointer














$outlineContentSizeAdjast: 50px
#outline
	position: relative
	z-index: 2
	margin-bottom: -($outlineMovingDistance)
	.header_angle
		margin-bottom: -25px
	.content_wrapper
		background-color: $blueColor
		margin-top: -$outlineContentSizeAdjast
		margin-bottom: -$outlineContentSizeAdjast
		.content
			position: relative
			z-index: 10
			color: white
			h2
				margin: 40px 0
				font-size: 30px
				line-height: 1.75em
			p
				font-size: 12px
				width: $contentWidth/3
				line-height: 1.75em
			img
				position: absolute
				top: 99px
				right: 27px




#aizu
	background: url(../img/seishunDoori.jpg)
	background-size: cover
	background-position: center
	height: 900px
	position: relative
	overflow: hidden
	.map
		position: absolute
		left: -350px
		top: -20px
		z-index: 0
		opacity: 0.7
		img#aizuPin
			position: absolute
			top: 311px
			right: 297px

	.content
		position: relative
		z-index: 1
		padding-top: 100px
		.text
			position: absolute
			right: 0px
			top: 200px
			color: white
			text-align: right
			h1
				line-height: 1.5em
				background-color: rgba(black, .5)
			p
				padding: 10px
				display: inline-block
				text-align: right
				width: $contentWidth/2
				margin-top: 40px
				font-size: 24px
				line-height: 2em
				background-color: rgba(black, .5)





#swift
	background-color: $yellow
	min-height: 800px
	.content
		.text
			position: absolute
			margin-top: $angle_containerHeight + 20
			width: 60%
			text-align: left
			color: white
			z-index: 1
			h1
				line-height: 1.5em
			p
				margin: 20px 0 0 auto
				line-height: 2em
				font-size: 20px
				font-weight: bolder
		img
			position: absolute
			right: 0px
			top: (800px - 300px) / 2
			z-index: 0


#MushUpAwards
	background-color: $red
	min-height: 800px
	.content
		.text
			position: absolute
			margin-top: $angle_containerHeight + 20
			width: 60%
			right: 0
			text-align: right
			color: white
			z-index: 1
			h1
				line-height: 1.5em
			p
				margin: 20px 0 0 auto
				line-height: 2em
				font-size: 20px
				font-weight: bolder
		img
			position: absolute
			left: -50px
			top: (800px - 300px) / 2
			z-index: 0








#recruitment
	background-image: url(../img/personsBlur3.jpg)
	background-size: cover
	height: 900px
	.content
		padding-top: 100px
		.title
			text-align: right
			h1
				display: inline
				margin-top: 20px
				font-size: 100px
				color: white
		.requirementList
			width: 52%
			margin-top: 80px
			ul
				list-style-type: disc
				li
					margin-top: 30px
					color: white
					font-weight: bolder
					font-size: 32px
		.persons
			position: absolute
			right: 0
			top: 275px
			img
				margin: 20px
				opacity: 0.83
			.limitOfPerson
				margin-top: 20px
				color: white
				font-size: 100px
				font-weight: bolder
				text-align: center



$scheduleContentHeight: 700px
$schedule_titlePaddingTop: 100px
$schedule_title_fontSize: 100px
$periodFontSize : 81px
#schedule
	background-color: $purple
	.content
		height: $scheduleContentHeight
		#sheduleOutline
			color: white
			h1
				padding-top: $schedule_titlePaddingTop
				font-size: $schedule_title_fontSize
			p.period
				margin-top: $scheduleContentHeight / 2 - $periodFontSize/2 - $schedule_titlePaddingTop - $schedule_title_fontSize //中央
				font-size: $periodFontSize
				font-weight: bolder
			img.calender
				position: absolute
				right: 0
				top: ($scheduleContentHeight - 400) / 2  //中央



$costContentheight: 700px
$costImageSize: 400px
$costFontSize: 100px
#cost
	background-color: #5aaae7
	.content
		height: $costContentheight
		color: white
		h1
			padding-top: $schedule_titlePaddingTop
			font-size: $schedule_title_fontSize
		p
			margin-top: $scheduleContentHeight / 2 - $periodFontSize/2 - $schedule_titlePaddingTop - $schedule_title_fontSize //中央
			font-size: $periodFontSize
			font-weight: bolder
		img
			position: absolute
			right: -50px
			top: ($scheduleContentHeight - 400) / 2  //中央
		// p
		// 	text-align: center
		// 	padding-top: $costContentheight/2 - $costImageSize/2
		// 	span, img
		// 		vertical-align: middle
		// 	span
		// 		margin-right: 80px
		// 		font-size: 100px
		// 		font-weight: bolder
		// 		color: #5aaae7



#photos
	height: 11000px
	padding-top: 300px
	background: url(../img/sparkles.gif),url(../img/bg-top.png),url(../img/bg-bottom.png)
	background-position: top, top, bottom
	background-repeat: repeat, repeat-x, repeat-x
	.content
		div.parallaxPic
			position: relative
			display: none
			img
				position: relative



#prize
	position: relative

	height: 1000px
	background: url(../img/ipad.png) no-repeat
	background-color: #00b9c1
	margin: 0 auto
	p
		position: absolute
		width: 100%
		margin: 0px auto
		text-align: center
		font-size: 100px
		font-weight: bolder
		color: white





$buttonSizeRatio: 4
#applicationForm
	background-color: #00b9c1
	height: 1500px

	.content
		text-align: center
		width: 1000px
		img#finalMessage
			margin: 0px auto 200px auto
			display: block


	.ghostButton
		border-radius: 6px * $buttonSizeRatio
		-moz-border-radius: 6px * $buttonSizeRatio
		-webkit-border-radius: 6px * $buttonSizeRatio
		padding: (18px * $buttonSizeRatio) (30px * $buttonSizeRatio)
		font-family: "proxima-nova",Helvetica,Arial,sans-serif
		font-weight: 700
		font-size: 16px * $buttonSizeRatio
		line-height: normal
		color: #fff
		border: (2px * $buttonSizeRatio) solid #fff
		text-align: center
		background: rgba(0,0,0,0)
		letter-spacing: (2px * $buttonSizeRatio)
		text-transform: uppercase
		display: inline-block
		box-shadow: none
		-webkit-box-shadow: none
		+transition(all .5s ease-in-out)

	.ghostButton:hover
		background-color: white
		color: $blueGreenColor
		text-decoration: underline
		cursor: pointer
		
