doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=1200")
    title 会津Swift合宿 2014
    link(href="css/lib/jquery-letterfx.min.css" rel="stylesheet" type="text/css")
    link(href="css/style.css" rel="stylesheet" type="text/css")
    link(href="css/animation.css" rel="stylesheet" type="text/css")

    style.

      .parallaxPic {
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
        backface-visibility: hidden;
        perspective: 1000;
      }

      #parallax-0 {
        -skrollr-animation-name:parallax-0;
      }

      @-skrollr-keyframes parallax-0 {
        bottom-top {
          -webkit-transform: translate3d(0px,0px,0px);
          -moz-transform: translate3d(0px,0px,0px);
          transform: translate3d(0px,0px,0px);
        }
        top-bottom {
          -webkit-transform: translate3d(0px,-200px,0px);
          -moz-transform: translate3d(0px,-200px,0px);
          transform: translate3d(0px,-200px,0px);
        }
      }

      #parallax-1 {
        -skrollr-animation-name:parallax-1;
      }

      @-skrollr-keyframes parallax-1 {
        bottom-top {
          -webkit-transform: translate3d(0px,-100px,0px);
          -moz-transform: translate3d(0px,-100px,0px);
          transform: translate3d(0px,-100px,0px);
        }
        top-bottom {
          -webkit-transform: translate3d(0px,-200px,0px);
          -moz-transform: translate3d(0px,-200px,0px);
          transform: translate3d(0px,-200px,0px);
        }
      }
      
      #parallax-2 {
        -skrollr-animation-name:parallax-2;
      }

      @-skrollr-keyframes parallax-2 {
        bottom-top {
          -webkit-transform: translate3d(0px,-200px,0px);
          -moz-transform: translate3d(0px,-200px,0px);
          transform: translate3d(0px,-200px,0px);
        }
        top-bottom {
          -webkit-transform: translate3d(0px,0px,0px);
          -moz-transform: translate3d(0px,0px,0px);
          transform: translate3d(0px,0px,0px);
        }
      }

      #parallax-3 {
        -skrollr-animation-name:parallax-3;
      }

      @-skrollr-keyframes parallax-3 {
        bottom-top {
          -webkit-transform: translate3d(0px,-20px,0px);
          -moz-transform: translate3d(0px,-20px,0px);
          transform: translate3d(0px,-20px,0px);
        }
        top-bottom {
          -webkit-transform: translate3d(0px,144px,0px);
          -moz-transform: translate3d(0px,144px,0px);
          transform: translate3d(0px,144px,0px);
        }
      }

      #background-stop {
        -skrollr-animation-name:background-stop;
      }

      @-skrollr-keyframes background-stop {
        bottom-top {
          background-position: center -500px;
        }
        top-bottom {
          background-position: center 100px;
        }
      }


  body#skrollr-body

    //- Script of Facebook like button
    //- | <div id="fb-root"></div>
    //- | <script>(function(d, s, id) {
    //- |   var js, fjs = d.getElementsByTagName(s)[0];
    //- |   if (d.getElementById(id)) return;
    //- |   js = d.createElement(s); js.id = id;
    //- |   js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=278696802286743&version=v2.0";
    //- |   fjs.parentNode.insertBefore(js, fjs);
    //- | }(document, 'script', 'facebook-jssdk'));</script>
    | <div id="fb-root"></div>
    | <script>(function(d, s, id) {
    |   var js, fjs = d.getElementsByTagName(s)[0];
    |   if (d.getElementById(id)) return;
    |   js = d.createElement(s); js.id = id;
    |   js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=278696802286743&version=v2.0";
    |   fjs.parentNode.insertBefore(js, fjs);
    | }(document, 'script', 'facebook-jssdk'));</script>


    .page
      section#header.fillscreen
        #headerBackground(class="skrollable skrollable-between" data-center="background-position: center 0px;" data-top-bottom="background-position: center 400px;" style="background-position: 50% 0px;")
        .content
            //- span#top_date(style="opacity:0;") 2012/09/01 <span id="hyphen">−</span> 2012/09/01
            #top_swift_x_aizu
                .top_icons#top_swift
                    //- TODO Resize after
                    img(src="img/FlatSwift.png" style="opacity:0;")
                    p(style="opacity:0;") Swift
                #top_x(style="opacity:0;") ×
                .top_icons#top_aizu
                    //- TODO Resize after
                    img(src="img/akabeko_250_tranparent3.png" style="opacity:0;")
                    p(style="opacity:0;") Aizu
            #top_title.buzzXXXX(style="opacity:0;")
                .text
                    span Swift Summer<br>Camp in Aizu
                .lines
            p#take-a-look(style="opacity:0;")
                a(href="#outline")
                    span take a look
                    i(class="fa fa-flag fa-arrow-down")

            p#scrollIndicator_onlyMobile(style="opacity:0;")
              | view
              i(class="fa fa-flag fa-arrow-down fa-2x")
              | project


      section#outline( style="position:relative;top:0px;", data-0="top:0px;", data-1200="top:-800px;")
        .angle_container#angleHeader1
          .header_angle.angle
            svg(height='250', version='1.1', width='2560', xmlns='http://www.w3.org/2000/svg', style='overflow: hidden; position: relative; left: 0.5px;')
                path(fill='#14a6e2', stroke='none', d='M0,0L2560,250L0,250Z')
          img.headerImg
        .content_wrapper
          .content
            h1 会津Swift合宿とは
            h2 Swiftを勉強して、<br>iOSアプリを開発して、<br>会津をよくする10日間。
            p ㈱デザイニウムのインターン生が企画し、デザイニウムが提供する夏の開発合宿(２年目)。今激アツなSwift漬けな毎日なのはもちろん、会津観光をしつつ、アプリを開発して会津の町を少しだけよくしよう。コンテスト形式で行い、優勝チームには賞品をプレゼント！そして、できたアプリをみんなでMushUpAwardsに応募しよう！
            img#AizuAndSwiftImg(src="img/aizu_x_swift.png")
        .angle_container#angleFooter1
          .footer_angle.angle
            svg(height='250', version='1.1', width='2560', xmlns='http://www.w3.org/2000/svg', style='overflow: hidden; position: relative;')
                path(fill='#14a6e2', stroke='none', d='M0,0L2560,0L0,250Z')


      section#aizu(class="skrollable skrollable-between" data-bottom-top="background-position: center -400px;" data-top-bottom="background-position: center 400px;" style="background-position: 50% -500px;")
        .content
          .text
            h1 会津を観光しよう。<br>役立つアプリを<br>作ろう。
            p 東北の修学旅行といえば会津！<br>会津は歴史的に由緒ある町です。<br>また、3.11の震災以降、現在も多くの被災者が仮設住宅に避難されている町でもあります。
        .map
          img#aizuImg(src="img/fukusimaMap.png")
          img#aizuPin(src="img/aizu_pin.gif")



      section#swift
        .content
          .text
            h1 この夏、Swiftを<br>マスターしよう。
            p SwiftはiOSやMacのアプリを作るための新しい開発言語。<br>6/5のWWDC2014にて発表されて以来、現在一番盛り上がっている言語の１つです。<br>この夏、この合宿に参加してSwiftでアプリを作ろう！
          img#swiftImg(src="img/flatSwift2.png")


      section#MushUpAwards
        .content
          .text
            h1 創ったアプリを、<br>MushUpAwardsに応募しよう！
            p MushUpAwardsは、毎年開催されている、国内最大級のWebサービスのコンテストです。毎年10月中旬に審査があり、数多くの賞が用意されています。
          img#awardImg(src="img/trophy.png")



      section#schedule
        .content
          //-カルーセルのライブラリ使うべきだな
          .scheduleItem#sheduleOutline
            h1 日程
            p.period 9/4 ~ 9/13
            img.calender(src='img/sep4.png')

          .scheduleItem#shedule1
          .scheduleItem#shedule2
          .scheduleItem#shedule3
          .scheduleItem#shedule4
          .scheduleItem#shedule5


      section#cost
        .content
          h1 参加費
          p 無料 <span style="font-size:40px">+ 交通費支給 + 宿の手配</span> <span style="font-size:18px;font-weight:100"><br>※交通費と宿の支給は遠方からの参加者のみです。</span>
          img.freeImg(src='img/free2.png')
          //- p
            span 参加費



      //- section#recruitment
      section#recruitment(class="skrollable skrollable-between" data-bottom-top="background-position: center -400px;" data-top-bottom="background-position: center 400px;" style="background-position: 50% -500px;")
        .content
          .title
            h1 募集要項
          .requirementList
            //- h2 こんな人
            ul
              li 大学生 or 専門生  
              li 初心者だけどアプリ創りたい人
              li iOSアプリを開発したい人
              li Swiftをやってみたい人
              li 福島を盛り上げたい人
              li 会津を観光したい人
              li 熱い夏を送りたい人
          .persons
            p.upper
              img.person(src="img/person_white.png")
              img.person(src="img/person_white.png")
              img.person(src="img/person_white.png")
            p.lower
              img.person(src="img/person_white.png")
              img.person(src="img/person_white.png")
              img.person(src="img/person_white.png")
            p.limitOfPerson 6名
            p.limitOfTraveler ※遠方からの参加者は３名限定。



      //- section#photos
        .content
          div(class="parallaxPic" id="parallax-2")
            img(src="img/memory/memory_01.jpg")
          div(class="parallaxPic" id="parallax-0")
            img(src="img/memory/memory_02.jpg" style="left:50%")
          div(class="parallaxPic" id="parallax-3")
            img(src="img/memory/memory_03.jpg")
          div(class="parallaxPic" id="parallax-1")
            img(src="img/memory/memory_04.jpg" style="left:50%")
          div(class="parallaxPic" id="parallax-3")
            img(src="img/memory/memory_05.jpg" style="left:50%")
          div(class="parallaxPic" id="parallax-1")
            img(src="img/memory/memory_06.jpg")
          div(class="parallaxPic" id="parallax-2")
            img(src="img/memory/memory_07.jpg" style="left:50%")
          div(class="parallaxPic" id="parallax-0")
            img(src="img/memory/memory_08.jpg")
          div(class="parallaxPic" id="parallax-3")
            img(src="img/memory/memory_09.jpg" style="left:50%")
          div(class="parallaxPic" id="parallax-1")
            img(src="img/memory/memory_10.jpg")
          div(class="parallaxPic" id="parallax-2")
            img(src="img/memory/memory_11.jpg" style="left:50%")
          div(class="parallaxPic" id="parallax-0")
            img(src="img/memory/memory_13.jpg")
          div(class="parallaxPic" id="parallax-3")
            img(src="img/memory/memory_14.jpg" style="left:50%")
          div(class="parallaxPic" id="parallax-1")
            img(src="img/memory/memory_15.jpg")
          div(class="parallaxPic" id="parallax-3")
            img(src="img/memory/memory_16.jpg" style="left:50%")
          div(class="parallaxPic" id="parallax-0")
            img(src="img/memory/memory_17.jpg")
          div(class="parallaxPic" id="parallax-2")
            img(src="img/memory/memory_18.jpg" style="left:50%")
          div(class="parallaxPic" id="parallax-1")
            img(src="img/memory/memory_19.jpg")
          div(class="parallaxPic" id="parallax-3")
            img(src="img/memory/memory_20.jpg" style="left:50%")
          div(class="parallaxPic" id="parallax-0")
            img(src="img/memory/memory_21.jpg" style="left:0%")
          div(class="parallaxPic" id="parallax-3")
            img(src="img/memory/memory_23.jpg" style="left:50%")
          div(class="parallaxPic" id="parallax-1")
            img(src="img/memory/memory_22.jpg" style="left:0%")
          div(class="parallaxPic" id="parallax-2")
            img(src="img/memory/memory_25.jpg" style="left:50%")
          div(class="parallaxPic" id="parallax-0")
            img(src="img/memory/memory_24.jpg")
          div(class="parallaxPic" id="parallax-3")
            img(src="img/memory/memory_26.jpg" style="left:50%")
          div(class="parallaxPic" id="parallax-1")
            img(src="img/memory/memory_27.jpg")
          div(class="parallaxPic" id="parallax-2")
            img(src="img/memory/memory_28.jpg" style="left:50%")
          div(class="parallaxPic" id="parallax-0")
            img(src="img/memory/memory_29.jpg")
          div(class="parallaxPic" id="parallax-3")
            img(src="img/memory/memory_30.jpg" style="left:50%")



      section#prize(class="skrollable skrollable-between" data-bottom-top="background-position: center -400px;" data-center="background-position: center 200px;" style="background-position: 50% -500px;")
          p(class="skrollable skrollable-between" data-bottom-top="bottom:30%;" data-center="bottom:20%;" style="bottom:30%;") 優勝賞品はiPad mini!!


      section#applicationForm
        .content
          img#finalMessage(src="img/finalMessage.png")
          a#applicationButton.ghostButton(href="https://docs.google.com/forms/d/1Sd5ik7aVO_bdga7IwBVnRtOM7iOiMsNSLiX3M2Yrgn4/viewform") 応募する！

          div#shareButtons

            div#tweetButton
              //- | <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja">ツイート</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              | <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-size="large">ツイート</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

            div#likeBox
              //- | <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="400" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
              | <div class="fb-like-box" data-href="https://www.facebook.com/aizuSwiftCamp14" data-width="600" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>

             p#contactText お問い合せは、okamoto[at]thedesignium.com までご連絡ください。
      section#fottter




    script(src='js/lib/jquery-2.1.1.min.js')
    script(src='js/lib/jquery.velocity.min.js')
    script(src='js/lib/velocity.ui.min.js')
    script(src='js/lib/imagesloaded.pkgd.min.js')
    script(src='js/lib/skrollr.min.js')
    script(src='js/lib/skrollr.stylesheets.min.js')
    script(src='js/main.js')
    script.

        // iPhone/iPad/iPod、Androidの場合は振り分けを判断
        if ( navigator.userAgent.indexOf('iPhone') > 0  
        || navigator.userAgent.indexOf('iPod') > 0 
        || (navigator.userAgent.indexOf('Android') > 0 && navigator.userAgent.indexOf('Mobile') > 0) ) {
          window.isMobile = true;
        }

        (function($,w,undefined){
            console.log("init function start");

            var skrlr;

            // ------------- resize -------------
            var resizeTimeout;
            var resize = false;
            var $w = $(window);
            var resizeLanding = function() {
                console.log("resize landing area");
                $w.h = $w.height();
                console.log($w.h);
                $('.fillscreen').css({ 'min-height' : $w.h });
                $('#top_swift_x_aizu').css({ 'padding-top' : $w.h * 0.05 + "px" });
                $('#top_title').css({ 'margin' : ($w.h * 0.085) + "px auto" });
                $('#take-a-look').css({ 'margin-top' : $w.h * 0.11 + "px" });
            };
            $w.resize(function(){
                clearTimeout(resizeTimeout);
                resized = true;
                resizeTimeout = setTimeout(function(){
                    if (resized === true) {
                        resizeLanding();
                        resized = false;
                    }
                },46);
            });


            // ------------- Title Animation -------------
            var initBuzzText = function() {
            $("#top_title").addClass("buzz");
              for(i=0;i<3;i++) {
                $('.buzz .text span').eq(0).clone().prependTo('.buzz .text');
              }
              for(i=0;i<10;i++) {
                $('.buzz .lines').eq(0).clone().appendTo('.buzz');
              }
            };


            var initSkroller = function() {
                $('.parallaxPic').css("display","block");

                var mobileOption;
                if (window.isMobile) {
                  mobileOption = {
                    mobileDeceleration: 0.0005,
                    scale: 1.5
                  }
                }

                setTimeout(function(){
                  skrlr = skrollr.init(mobileOption);
                }, 1000);
                //- imagesLoaded( document.querySelector('.parallaxPic'), function( instance ) {
                //-   console.log('all memories images are loaded');
                //- });

            }



            // ------------- Top Section Animations -------------
            var playVelocity = function(timeline){
                // タイムラインjsonの各エントリを処理
                $.each(timeline, function(selector, triggers){
                    $.each(triggers, function(i, trigger){
                        // startで指定したタイミングでアニメーションを開始
                        setTimeout(function(){
                            // タイムラインjsonのキーをセレクタとしたjQueryオブジェクトに対して、定義されたvelocityアニメーションを順次実行する
                            var $elm = $(selector).show();
                            $.each(trigger.anims, function(j, anim){
                                $elm.velocity(anim.properties, anim.options);
                            });
                        }, trigger.start || 0);
                    });
                });
            };


            var LANDING_ANIMATION_1 = {
                "#top_aizu *" : [{
                    anims: [{
                        properties: "landing.slideDownIn"
                    }]
                }],
                "#top_swift *" : [{
                    anims: [{
                        properties: "landing.slideDownIn",
                        options: {
                            delay: 800,
                            complete: function() {
                                playVelocity(LANDING_ANIMATION_2);
                            }
                        }
                    }]
                }],
            };
            var LANDING_ANIMATION_2 = {
                "#top_x" : [{
                    anims: [{
                        properties: "landing.shakeFadeIn_0deg",
                        options: {
                            display: "inline-block"
                        }
                    }]
                }],
                "#top_title" : [{
                    anims: [{
                        properties: "landing.shakeFadeIn",
                        options: {
                            complete: function() {
                                //- initBuzzText();//重い
                                setTimeout(function(){
                                    var nextAnimation;
                                    if (window.isMobile)
                                      nextAnimation = LANDING_ANIMATION_3_forMobile;
                                    else
                                      nextAnimation = LANDING_ANIMATION_3;
                                    playVelocity(nextAnimation);
                                },1000)
                            }
                        }
                    }]
                }]
            };
            var LANDING_ANIMATION_3 = {
                "#take-a-look" : [{
                    anims: [{
                        properties: "landing.fadeInSlideUp"
                    }]
                }]
            };
            var LANDING_ANIMATION_3_forMobile = {
                "#scrollIndicator_onlyMobile" : [{
                    anims: [{
                        properties: "landing.fadeInSlideUp"
                    }]
                }]
            };


            var addCustomAnimation = function() {
                var SHAKE_FADE_IN = {
                    defaultDuration: 1200,
                    calls: [ 
                        [{
                            opacity: [1, 0],
                            rotateZ: [5, -360],
                            scale: [1, 5]
                        }, .7, { easing: "ease-in-out" } ],
                        [{translateX: -11 }, .02],// 0.2 * 12 = 2.4
                        [{translateX: 11 }, .02],
                        [{translateX: -11 }, .02],
                        [{translateX: 11 }, .02],
                        [{translateX: -11 }, .02],
                        [{translateX: 11 }, .02],
                        [{translateX: -11 }, .02],
                        [{translateX: 11 }, .02],
                        [{translateX: -11 }, .02],
                        [{translateX: 11 }, .02],
                        [{translateX: -11 }, .02],
                        [{translateX: 0 }, .02]

                    ],
                };
                var SHAKE_FADE_IN_0deg = $.extend(true, {}, SHAKE_FADE_IN);
                SHAKE_FADE_IN_0deg.calls[0][0].rotateZ[0] = 0
                $.Velocity.RegisterUI("landing.shakeFadeIn", SHAKE_FADE_IN);
                $.Velocity.RegisterUI("landing.shakeFadeIn_0deg", SHAKE_FADE_IN_0deg);
                $.Velocity.RegisterUI("landing.fadeInSlideUp", {
                    defaultDuration: 900,
                    calls: [ 
                        [
                            {
                                opacity: [1, 0],
                                translateY: [0, 50]
                            },
                            1.0
                        ]
                    ],
                });
                $.Velocity.RegisterUI("landing.slideDownIn", {
                    defaultDuration: 700,
                    calls: [ 
                        [
                            {
                                opacity: 1,
                                translateY: [0, -90]
                            },
                            1.0
                        ]
                    ],
                });
            }
            

            var initScrollLink2outline = function() {
                if (! window.isMobile) {
                  $('a[href^=#outline]').click(function(){
                      var href= $(this).attr("href");
                      var target = $(href == "#" || href == "" ? 'html' : href);
                      var position = target.offset().top - 450;
                      var speed = 500;
                      $("html, body").animate({scrollTop:position}, speed, "swing");
                      return false;
                  });
                }
            }



            var mobile_setPalalaxDisable = function() {
              $("#headerBackground, #aizu, #recruitment").attr({
                "style": "",
                "data-bottom-top": "",
                "data-top-bottom": ""
              });
            }


            $(document).ready(function(){
                console.log("document ready")

                if (window.isMobile) {
                  mobile_setPalalaxDisable();
                }

                resizeLanding();
                addCustomAnimation();
                setTimeout(function(){
                    playVelocity(LANDING_ANIMATION_1);
                },1);
                initScrollLink2outline();
                initSkroller();

            });
        }(jQuery, window));








