doctype html
html
  head
    title= pageTitle
    link(href="css/lib/jquery-letterfx.min.css" rel="stylesheet" type="text/css")
    link(href="css/style.css" rel="stylesheet" type="text/css")
    link(href="css/animation.css" rel="stylesheet" type="text/css")
    script(src='js/lib/jquery-2.1.1.min.js')
    script(src='js/lib/skrollr.min.js')
    script(src='js/lib/jquery-letterfx.min.js')
    script(src='js/lib/tuxsudo.min.js')
    script(src='js/main.js')
    script.
      $(document).ready(function(){
        
        console.log("jqueary ready");
        
        var skrlr = skrollr.init();

        //- var fadeInTitleAnimation = function() {
        //-   $("#topTitle1").css('opacity',1).letterfx({
        //-     fx:"fade swirl",
        //-     fx_duration:'500ms',
        //-     "backwards":false,
        //-     "timing":50,
        //-     "letter_end":"restore",
        //-     "element_end":"restore",
        //-     onLetterComplete:function(){
        //-       $("#topTitle2").css('opacity',1).letterfx({
        //-         fx:"fade swirl",
        //-         fx_duration:'400ms',
        //-         "backwards":false,
        //-         "timing":100,
        //-         "letter_end":"restore",
        //-         "element_end":"restore",
        //-         onLetterComplete:function(){
        //-           $("#topSubTitle").css('opacity',1).letterfx({
        //-             fx:"fade swirl",
        //-             fx_duration:'400ms',
        //-             "backwards":false,
        //-             "timing":100,
        //-             "letter_end":"restore",
        //-             "element_end":"restore"});
        //-         }
        //-       });}
        //-   });};
          //- setTimeout(fadeInTitleAnimation,1000);
      });









  body
    .page


      section#header.fillscreen
        #headerBackground
        .content
            //- span#top_date(style="opacity:0;") 2012/09/01 <span id="hyphen">−</span> 2012/09/01
            #top_swift_x_aizu
                .top_icons#top_swift
                    //- TODO Resize after
                    img(src="img/top_swift.png" style="opacity:0;")
                    p(style="opacity:0;") Swift
                #top_x(style="opacity:0;") ×
                .top_icons#top_aizu
                    //- TODO Resize after
                    img(src="img/top_aizu.png" style="opacity:0;")
                    p(style="opacity:0;") Aizu
            #top_title.buzzXXXX(style="opacity:0;")
                .text
                    span Swift Summer<br>Camp in Aizu
                .lines
            p#take-a-look(style="opacity:0;")
                a(href="#outline")
                    span take a look
                    i(class="fa fa-flag fa-arrow-down")


      //- section#header
        #headerBackground.zoomOut
        .content
          .title#topTitleBox
            h1#topTitle1 Swift Summer Camp
            h1#topTitle2 in Aizu
            h2#topSubTitle Swift漬けで会津をハックする10日間

      section#outline( style="position:relative;top:0px;", data-0="top:0px;", data-1200="top:-800px;")
        .angle_container#angleHeader1
          .header_angle.angle
            svg(height='250', version='1.1', width='2560', xmlns='http://www.w3.org/2000/svg', style='overflow: hidden; position: relative; left: 0.5px;')
                path(fill='#14a6e2', stroke='none', d='M0,0L2560,250L0,250Z')
          img.headerImg
        .content_wrapper
          .content
            h1 会津Swift合宿とは
            h2 Swiftを勉強して、<br>iOSアプリを開発して、<br>会津をよくする10日間。
            p ㈱デザイニウムのインターン生が企画し、デザイニウムが提供する夏の開発合宿(２年目)。今激アツなSwift漬けな毎日なのはもちろん、会津観光をしつつ、アプリを開発して会津の町を少しだけよくしよう。コンテスト形式で行い、優勝チームには賞品をプレゼント！そして、できたアプリをみんなでMushUpAwardsに応募しよう！
            img#AizuAndSwiftImg(src="img/aizu_x_swift.png")
        .angle_container#angleFooter1
          .footer_angle.angle
            svg(height='250', version='1.1', width='2560', xmlns='http://www.w3.org/2000/svg', style='overflow: hidden; position: relative;')
                path(fill='#14a6e2', stroke='none', d='M0,0L2560,0L0,250Z')


      section#aizu
        .content
          .text
            h1 会津を観光しよう。<br>役立つアプリを<br>作ろう。
            p 東北の修学旅行といえば会津！<br>会津は歴史的に由緒ある町です。<br>また、3.11の震災以降、現在も多くの被災者が仮設住宅に避難されている町でもあります。
        .map
          img#aizuImg(src="img/fukusimaMap.png")



      section#swift
        .content
          .text
            h1 この夏、Swiftを<br>マスターしよう。
            p SwiftはiOSやMacのアプリを作るための新しい開発言語。<br>6/5のWWDC2014にて発表されて以来、現在一番盛り上がっている言語の１つです。<br>この夏、この合宿に参加してSwiftでアプリを作ろう！
          img#swiftImg


      section#MushUpAwards
        .content
          .text
            h1 創ったアプリを、<br>MushUpAwardsに応募しよう！
            p MushUpAwardsは、毎年開催されている、国内最大級のWebサービスのコンテストです。毎年10月中旬に審査があり、数多くの賞が用意されています。
          img#swiftImg



      section#schedule
        .content
          //-カルーセルのライブラリ使うべきだな
          .scheduleItem#sheduleOutline
            h1 日程
            p.period 9/1 ~ 9/10
            img.calender(src='img/sep1.png')

          .scheduleItem#shedule1
          .scheduleItem#shedule2
          .scheduleItem#shedule3
          .scheduleItem#shedule4
          .scheduleItem#shedule5


      section#cost
        .content
          h1 参加費
          img.freeImg(src='img/free.png')
          //- p
            span 参加費



      section#recruitment
        .content
          .title
            h1 募集要項
          .requirementList
            //- h2 こんな人
            ul
              li 大学生 or 専門生  
              li 初心者だけどアプリ創りたい人
              li iOSアプリを開発したい人
              li Swiftをやってみたい人
              li 福島を盛り上げたい人
              li 会津を観光したい人
              li 熱い夏を送りたい人
          .persons
            p.upper
              img.person(src="img/person_white.png")
              img.person(src="img/person_white.png")
              img.person(src="img/person_white.png")
            p.lower
              img.person(src="img/person_white.png")
              img.person(src="img/person_white.png")
              img.person(src="img/person_white.png")
            p.limitOfPerson 6名



      section#photos
        .content
          img.photos
          img.photos
          img.photos
          img.photos
          img.photos
          img.photos
          img.photos
          img#prizeImg


      section#prize(class="skrollable skrollable-between" data-bottom-top="background-position: center -400px;" data-center="background-position: center 200px;" style="background-position: 50% -500px;")
          p(class="skrollable skrollable-between" data-bottom-top="bottom:30%;" data-center="bottom:20%;" style="bottom:30%;") 優勝賞品はiPad Air!!


      section#applicationForm
        .content
          img#finalMessage(src="img/finalMessage.png")
          a#applicationButton.ghostButton 応募する！
          div#shareButtons


      section#fottter







    script(src='js/lib/jquery-2.1.1.min.js')
    script(src='js/lib/jquery.velocity.min.js')
    script(src='js/lib/velocity.ui.min.js')
    script(src='js/lib/skrollr.min.js')
    script(src='js/main.js')
    script.
        (function($,w,undefined){
            console.log("init function start");

            // ------------- resize -------------
            var resizeTimeout;
            var resize = false;
            var $w = $(window);
            var resizeLanding = function() {
                console.log("resize landing area");
                $w.h = $w.height();
                console.log($w.h);
                $('.fillscreen').css({ 'min-height' : $w.h });
                $('#top_swift_x_aizu').css({ 'padding-top' : $w.h * 0.05 + "px" });
                $('#top_title').css({ 'margin' : ($w.h * 0.03) + "px auto" });
                $('#take-a-look').css({ 'margin-top' : $w.h * 0.11 + "px" });
            };
            $w.resize(function(){
                clearTimeout(resizeTimeout);
                resized = true;
                resizeTimeout = setTimeout(function(){
                    if (resized === true) {
                        resizeLanding();
                        resized = false;
                    }
                },46);
            });


            // ------------- Title Animation -------------
            var initBuzzText = function() {
            $("#top_title").addClass("buzz");
              for(i=0;i<3;i++) {
                $('.buzz .text span').eq(0).clone().prependTo('.buzz .text');
              }
              for(i=0;i<10;i++) {
                $('.buzz .lines').eq(0).clone().appendTo('.buzz');
              }
            };



            // ------------- Top Section Animations -------------
            var playVelocity = function(timeline){
                // タイムラインjsonの各エントリを処理
                $.each(timeline, function(selector, triggers){
                    $.each(triggers, function(i, trigger){
                        // startで指定したタイミングでアニメーションを開始
                        setTimeout(function(){
                            // タイムラインjsonのキーをセレクタとしたjQueryオブジェクトに対して、定義されたvelocityアニメーションを順次実行する
                            var $elm = $(selector).show();
                            $.each(trigger.anims, function(j, anim){
                                $elm.velocity(anim.properties, anim.options);
                            });
                        }, trigger.start || 0);
                    });
                });
            };


            var LANDING_ANIMATION_1 = {
                "#top_aizu *" : [{
                    anims: [{
                        properties: "landing.slideDownIn"
                    }]
                }],
                "#top_swift *" : [{
                    anims: [{
                        properties: "landing.slideDownIn",
                        options: {
                            delay: 800,
                            complete: function() {
                                playVelocity(LANDING_ANIMATION_2);
                            }
                        }
                    }]
                }],
            };
            var LANDING_ANIMATION_2 = {
                "#top_x" : [{
                    anims: [{
                        properties: "landing.shakeFadeIn_0deg",
                        options: {
                            display: "inline-block"
                        }
                    }]
                }],
                "#top_title" : [{
                    anims: [{
                        properties: "landing.shakeFadeIn",
                        options: {
                            complete: function() {
                                //- initBuzzText();//重い
                                setTimeout(function(){
                                    playVelocity(LANDING_ANIMATION_3);
                                },1000)
                            }
                        }
                    }]
                }]
            };
            var LANDING_ANIMATION_3 = {
                "#take-a-look" : [{
                    anims: [{
                        properties: "landing.fadeInSlideUp"
                    }]
                }]
            };


            var addCustomAnimation = function() {
                var SHAKE_FADE_IN = {
                    defaultDuration: 1200,
                    calls: [ 
                        [{
                            opacity: [1, 0],
                            rotateZ: [5, -360],
                            scale: [1, 5]
                        }, .7, { easing: "ease-in-out" } ],
                        [{translateX: -11 }, .02],// 0.2 * 12 = 2.4
                        [{translateX: 11 }, .02],
                        [{translateX: -11 }, .02],
                        [{translateX: 11 }, .02],
                        [{translateX: -11 }, .02],
                        [{translateX: 11 }, .02],
                        [{translateX: -11 }, .02],
                        [{translateX: 11 }, .02],
                        [{translateX: -11 }, .02],
                        [{translateX: 11 }, .02],
                        [{translateX: -11 }, .02],
                        [{translateX: 0 }, .02]

                    ],
                };
                var SHAKE_FADE_IN_0deg = $.extend(true, {}, SHAKE_FADE_IN);
                SHAKE_FADE_IN_0deg.calls[0][0].rotateZ[0] = 0
                $.Velocity.RegisterUI("landing.shakeFadeIn", SHAKE_FADE_IN);
                $.Velocity.RegisterUI("landing.shakeFadeIn_0deg", SHAKE_FADE_IN_0deg);
                $.Velocity.RegisterUI("landing.fadeInSlideUp", {
                    defaultDuration: 900,
                    calls: [ 
                        [
                            {
                                opacity: [1, 0],
                                translateY: [0, 50]
                            },
                            1.0
                        ]
                    ],
                });
                $.Velocity.RegisterUI("landing.slideDownIn", {
                    defaultDuration: 700,
                    calls: [ 
                        [
                            {
                                opacity: 1,
                                translateY: [0, -90]
                            },
                            1.0
                        ]
                    ],
                });
            }
            

            var initScrollLink2outline = function() {
                $('a[href^=#outline]').click(function(){
                    var speed = 500;
                    var href= $(this).attr("href");
                    var target = $(href == "#" || href == "" ? 'html' : href);
                    var position = target.offset().top - 500;
                    $("html, body").animate({scrollTop:position}, speed, "swing");
                    return false;
                });
            }


            $(document).ready(function(){
                console.log("document ready")
                resizeLanding();
                addCustomAnimation();
                setTimeout(function(){
                    playVelocity(LANDING_ANIMATION_1);
                },1);
                initScrollLink2outline();
            });
        }(jQuery, window));








