doctype html
html
  head
    title= pageTitle
    link(href="css/reset.css" rel="stylesheet" type="text/css")
    link(href="css/style.css" rel="stylesheet" type="text/css")
    script(src='js/lib/jquery-2.1.1.min.js')
    script(src='js/lib/skrollr.min.js')
    script(src='js/main.js')
    script.
      $(function(){
        console.log("jqieru");
        var skrlr = skrollr.init()
      });



  body
    h1 Jade - node template engine
    #container.col
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.
      p aa
      p aa
      p aa
      p aa
      p aa
      div(style="position:relative;" data-0="background-color:rgb(0,0,255);top:500px;height:0px" data-500="background-color:rgb(255,0,0);top:-100px;height:100px;").
        skrollr test