doctype html
html
  head
    title= pageTitle
    link(href="css/style.css" rel="stylesheet" type="text/css")
    link(href="css/animation.css" rel="stylesheet" type="text/css")


body
    .page

      section#header.fillscreen
        #headerBackground
        .content

            //- span#top_date(style="opacity:0;") 2012/09/01 <span id="hyphen">−</span> 2012/09/01

            #top_swift_x_aizu
                .top_icons#top_swift
                    //- TODO Resize after
                    img(src="img/top_swift.png" style="opacity:0;")
                    p(style="opacity:0;") Swift
                #top_x(style="opacity:0;") ×
                .top_icons#top_aizu
                    //- TODO Resize after
                    img(src="img/top_aizu.png" style="opacity:0;")
                    p(style="opacity:0;") Aizu

            #top_title.buzzXXXX(style="opacity:0;")
                .text
                    span Swift Summer<br>Camp in Aizu
                .lines

            p#take-a-look(style="opacity:0;")
                a
                    span take a look
                    i(class="fa fa-flag fa-arrow-down")


    script(src='js/lib/jquery-2.1.1.min.js')
    script(src='js/lib/jquery.velocity.min.js')
    script(src='js/lib/velocity.ui.min.js')
    script(src='js/lib/skrollr.min.js')
    script(src='js/main.js')
    script.
        (function($,w,undefined){
            console.log("init function start");





            var resizeTimeout;
            var resize = false;
            var $w = $(window);

            var resizeLanding = function() {
                console.log("resize landing area");
                $w.h = $w.height();
                console.log($w.h);
                $('.fillscreen').css({ 'min-height' : $w.h });
                $('#top_swift_x_aizu').css({ 'padding-top' : $w.h * 0.05 + "px" });
                $('#top_title').css({ 'margin' : ($w.h * 0.03) + "px auto" });
                $('#take-a-look').css({ 'margin-top' : $w.h * 0.11 + "px" });
            };

            $w.resize(function(){
                clearTimeout(resizeTimeout);
                resized = true;
                resizeTimeout = setTimeout(function(){
                    if (resized === true) {
                        resizeLanding();
                        resized = false;
                    }
                },46);
            });






            var initBuzzText = function() {
            $("#top_title").addClass("buzz");
              for(i=0;i<3;i++) {
                $('.buzz .text span').eq(0).clone().prependTo('.buzz .text');
              }
              for(i=0;i<10;i++) {
                $('.buzz .lines').eq(0).clone().appendTo('.buzz');
              }
            };











            var playVelocity = function(timeline){
                // タイムラインjsonの各エントリを処理
                $.each(timeline, function(selector, triggers){
                    $.each(triggers, function(i, trigger){
                        // startで指定したタイミングでアニメーションを開始
                        setTimeout(function(){
                            // タイムラインjsonのキーをセレクタとしたjQueryオブジェクトに対して、定義されたvelocityアニメーションを順次実行する
                            var $elm = $(selector).show();
                            $.each(trigger.anims, function(j, anim){
                                $elm.velocity(anim.properties, anim.options);
                            });
                        }, trigger.start || 0);
                    });
                });
            };




            //- var LANDING_ANIMATION_1 = {
            //-     "#top_date": [{
            //-         anims: [{
            //-             properties: SLIDE_UP_IN,
            //-             options: {
            //-                 duration: 700,
            //-                 complete: function() {
            //-                     playVelocity(LANDING_ANIMATION_2);
            //-                 }
            //-             }
            //-         }]
            //-     }]
            //- };
            var LANDING_ANIMATION_2 = {
                "#top_aizu *" : [{
                    anims: [{
                        properties: "landing.slideDownIn"
                    }]
                }],
                //- "#top_aizu > p" : [{
                //-     anims: [{
                //-         properties: "landing.fadeInSlideUp_small",
                //-         options: {
                //-             delay: 1000,
                //-         }
                //-     }]
                //- }],
                "#top_swift *" : [{
                    anims: [{
                        properties: "landing.slideDownIn",
                        options: {
                            delay: 800,
                            complete: function() {
                                playVelocity(LANDING_ANIMATION_4);
                            }
                        }
                    }]
                }],
                //- "#top_swift > p" : [{
                //-     anims: [{
                //-         properties: "landing.fadeInSlideUp_small",
                //-         options: {
                //-             delay: 2300,
                //-             complete: function() {
                //-                 playVelocity(LANDING_ANIMATION_4);
                //-             }
                //-         }
                //-     }]
                //- }]
            };
            var LANDING_ANIMATION_4 = {
                "#top_x" : [{
                    anims: [{
                        properties: "landing.shakeFadeIn_0deg",
                        options: {
                            display: "inline-block"
                        }
                    }]
                }],
                "#top_title" : [{
                    anims: [{
                        properties: "landing.shakeFadeIn",
                        options: {
                            complete: function() {
                                initBuzzText();//重い
                                setTimeout(function(){
                                    playVelocity(LANDING_ANIMATION_5);
                                },1000)
                            }
                        }
                    }]
                }]
            };
            var LANDING_ANIMATION_5 = {
                "#take-a-look" : [{
                    anims: [{
                        properties: "landing.fadeInSlideUp"
                    }]
                }]
            };



            var addCustomAnimation = function() {
                var SHAKE_FADE_IN = {
                    defaultDuration: 1200,
                    calls: [ 
                        [{
                            opacity: [1, 0],
                            rotateZ: [-5, -360],
                            scale: [1, 5]
                        }, .7, { easing: "ease-in-out" } ],
                        [{translateX: -11 }, .02],// 0.2 * 12 = 2.4
                        [{translateX: 11 }, .02],
                        [{translateX: -11 }, .02],
                        [{translateX: 11 }, .02],
                        [{translateX: -11 }, .02],
                        [{translateX: 11 }, .02],
                        [{translateX: -11 }, .02],
                        [{translateX: 11 }, .02],
                        [{translateX: -11 }, .02],
                        [{translateX: 11 }, .02],
                        [{translateX: -11 }, .02],
                        [{translateX: 0 }, .02]

                    ],
                };
                var SHAKE_FADE_IN_0deg = $.extend(true, {}, SHAKE_FADE_IN);
                SHAKE_FADE_IN_0deg.calls[0][0].rotateZ[0] = 0
                $.Velocity.RegisterUI("landing.shakeFadeIn", SHAKE_FADE_IN);
                $.Velocity.RegisterUI("landing.shakeFadeIn_0deg", SHAKE_FADE_IN_0deg);
                $.Velocity.RegisterUI("landing.fadeInSlideUp", {
                    defaultDuration: 900,
                    calls: [ 
                        [
                            {
                                opacity: [1, 0],
                                translateY: [0, 50]
                            },
                            1.0
                        ]
                    ],
                });
                $.Velocity.RegisterUI("landing.slideDownIn", {
                    defaultDuration: 700,
                    calls: [ 
                        [
                            {
                                opacity: 1,
                                translateY: [0, -90]
                            },
                            1.0
                        ]
                    ],
                });
            }
            


            $(document).ready(function(){
                console.log("document ready")
                resizeLanding();
                addCustomAnimation();
                setTimeout(function(){
                    playVelocity(LANDING_ANIMATION_2);
                },1);
            });
        }(jQuery, window));