/* line 78, ../../sass/animation.sass */
.puffIn {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -o-animation-name: puffIn;
  -moz-animation-name: puffIn;
  -webkit-animation-name: puffIn;
  animation-name: puffIn;
  -o-animation-duration: 2.75s;
  -moz-animation-duration: 2.75s;
  -webkit-animation-duration: 2.75s;
  animation-duration: 2.75s;
  -o-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes puffIn {
  /* line 86, ../../sass/animation.sass */
  0% {
    -webkit-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    -moz-transform: scale(2, 2);
    -o-transform: scale(2, 2);
    transform: scale(2, 2);
  }

  /* line 90, ../../sass/animation.sass */
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-moz-keyframes puffIn {
  /* line 86, ../../sass/animation.sass */
  0% {
    -webkit-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    -moz-transform: scale(2, 2);
    -o-transform: scale(2, 2);
    transform: scale(2, 2);
  }

  /* line 90, ../../sass/animation.sass */
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-ms-keyframes puffIn {
  /* line 86, ../../sass/animation.sass */
  0% {
    -webkit-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    -moz-transform: scale(2, 2);
    -o-transform: scale(2, 2);
    transform: scale(2, 2);
  }

  /* line 90, ../../sass/animation.sass */
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes puffIn {
  /* line 86, ../../sass/animation.sass */
  0% {
    -webkit-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    -moz-transform: scale(2, 2);
    -o-transform: scale(2, 2);
    transform: scale(2, 2);
  }

  /* line 90, ../../sass/animation.sass */
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
