/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@media screen and (max-width: 900px) {
  /* line 50, ../../sass/style.sass */
  .page {
    width: 900px;
  }
}
@media screen and (min-width: 2561px) {
  /* line 54, ../../sass/style.sass */
  .page {
    margin: 0 auto;
    width: 2560px;
  }
}
/* line 61, ../../sass/style.sass */
.page {
  position: relative;
}

/* line 64, ../../sass/style.sass */
section .content {
  position: relative;
  width: 900px;
  margin: 0 auto;
}

/* line 69, ../../sass/style.sass */
.angle_container {
  overflow: hidden;
}

/* line 77, ../../sass/style.sass */
* {
  font-family: Helvetica Neue;
}

/* line 79, ../../sass/style.sass */
h1 {
  font-size: 60px;
  font-weight: bolder;
}

/* line 82, ../../sass/style.sass */
h2 {
  font-size: 25px;
}

/* line 94, ../../sass/style.sass */
#header {
  height: 800px;
  position: relative;
}
/* line 97, ../../sass/style.sass */
#header #headerBackground {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: url(../img/tmp/eyecatch4.jpg);
  background-size: cover;
  background-position: -100px;
}
/* line 105, ../../sass/style.sass */
#header .content {
  height: 800px;
  color: #14a6e2;
  font-family: Futura;
}
/* line 123, ../../sass/style.sass */
#header .content #top_swift_x_aizu {
  position: relative;
  left: 54px;
  text-align: center;
  padding-top: 100px;
}
/* line 130, ../../sass/style.sass */
#header .content #top_swift_x_aizu > div {
  display: inline-block;
  position: relative;
}
/* line 134, ../../sass/style.sass */
#header .content #top_swift_x_aizu .top_icons {
  width: 250px;
  text-align: center;
}
/* line 137, ../../sass/style.sass */
#header .content #top_swift_x_aizu .top_icons img {
  position: relative;
  display: block;
  height: 250px;
  margin: 0 auto;
}
/* line 142, ../../sass/style.sass */
#header .content #top_swift_x_aizu .top_icons p {
  text-align: center;
  font-size: 70px;
  margin-top: 25px;
  font-weight: 900;
  letter-spacing: 6px;
}
/* line 149, ../../sass/style.sass */
#header .content #top_swift_x_aizu #top_aizu {
  width: 344px;
}
/* line 151, ../../sass/style.sass */
#header .content #top_swift_x_aizu #top_aizu img {
  top: 9px;
}
/* line 154, ../../sass/style.sass */
#header .content #top_swift_x_aizu #top_swift {
  margin-right: 14px;
}
/* line 157, ../../sass/style.sass */
#header .content #top_swift_x_aizu #top_x {
  font-size: 200px;
  font-weight: 900;
  margin: 0 50px;
  top: -104px;
}
/* line 163, ../../sass/style.sass */
#header .content #top_title {
  margin: 87px auto;
  width: 800px;
}
/* line 166, ../../sass/style.sass */
#header .content #top_title .text > span {
  width: 100%;
  font-size: 95px;
  font-weight: bold;
}

/* line 184, ../../sass/style.sass */
#outline {
  position: relative;
  z-index: 2;
  margin-bottom: -800px;
}
/* line 188, ../../sass/style.sass */
#outline .header_angle {
  margin-bottom: -25px;
}
/* line 190, ../../sass/style.sass */
#outline .content_wrapper {
  background-color: #14a6e2;
  margin-top: -50px;
  margin-bottom: -50px;
}
/* line 194, ../../sass/style.sass */
#outline .content_wrapper .content {
  position: relative;
  z-index: 10;
  color: white;
}
/* line 198, ../../sass/style.sass */
#outline .content_wrapper .content h2 {
  margin: 40px 0;
  font-size: 30px;
  line-height: 1.75em;
}
/* line 202, ../../sass/style.sass */
#outline .content_wrapper .content p {
  font-size: 12px;
  width: 300px;
  line-height: 1.75em;
}
/* line 206, ../../sass/style.sass */
#outline .content_wrapper .content img {
  position: absolute;
  top: 99px;
  right: 27px;
}

/* line 216, ../../sass/style.sass */
#aizu {
  background: url(../img/seishunDoori.jpg);
  background-size: cover;
  background-position: center;
  height: 900px;
  position: relative;
  overflow: hidden;
}
/* line 223, ../../sass/style.sass */
#aizu .map {
  position: absolute;
  left: -350px;
  top: -20px;
  z-index: 0;
  opacity: 0.7;
}
/* line 229, ../../sass/style.sass */
#aizu .content {
  position: relative;
  z-index: 1;
  padding-top: 100px;
}
/* line 233, ../../sass/style.sass */
#aizu .content .text {
  position: absolute;
  right: 0px;
  top: 200px;
  color: white;
  text-align: right;
}
/* line 239, ../../sass/style.sass */
#aizu .content .text h1 {
  line-height: 1.5em;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 242, ../../sass/style.sass */
#aizu .content .text p {
  padding: 10px;
  display: inline-block;
  text-align: right;
  width: 450px;
  margin-top: 40px;
  font-size: 24px;
  line-height: 2em;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 256, ../../sass/style.sass */
#swift {
  background-color: #f6a121;
  min-height: 800px;
}
/* line 260, ../../sass/style.sass */
#swift .content .text {
  position: absolute;
  margin-top: 208px;
  width: 60%;
  text-align: left;
  color: white;
}
/* line 266, ../../sass/style.sass */
#swift .content .text h1 {
  line-height: 1.5em;
}
/* line 268, ../../sass/style.sass */
#swift .content .text p {
  margin: 20px 0 0 auto;
  line-height: 2em;
  font-size: 20px;
  font-weight: bolder;
}

/* line 276, ../../sass/style.sass */
#MushUpAwards {
  background-color: #e74b62;
  min-height: 800px;
}
/* line 280, ../../sass/style.sass */
#MushUpAwards .content .text {
  position: absolute;
  margin-top: 208px;
  width: 60%;
  right: 0;
  text-align: right;
  color: white;
}
/* line 287, ../../sass/style.sass */
#MushUpAwards .content .text h1 {
  line-height: 1.5em;
}
/* line 289, ../../sass/style.sass */
#MushUpAwards .content .text p {
  margin: 20px 0 0 auto;
  line-height: 2em;
  font-size: 20px;
  font-weight: bolder;
}

/* line 302, ../../sass/style.sass */
#recruitment {
  background-image: url(../img/personsBlur3.jpg);
  background-size: cover;
  height: 900px;
}
/* line 306, ../../sass/style.sass */
#recruitment .content {
  padding-top: 100px;
}
/* line 308, ../../sass/style.sass */
#recruitment .content .title {
  text-align: right;
}
/* line 310, ../../sass/style.sass */
#recruitment .content .title h1 {
  display: inline;
  margin-top: 20px;
  font-size: 100px;
  color: white;
}
/* line 315, ../../sass/style.sass */
#recruitment .content .requirementList {
  width: 52%;
  margin-top: 80px;
}
/* line 318, ../../sass/style.sass */
#recruitment .content .requirementList ul {
  list-style-type: disc;
}
/* line 320, ../../sass/style.sass */
#recruitment .content .requirementList ul li {
  margin-top: 30px;
  color: white;
  font-weight: bolder;
  font-size: 32px;
}
/* line 325, ../../sass/style.sass */
#recruitment .content .persons {
  position: absolute;
  right: 0;
  top: 275px;
}
/* line 329, ../../sass/style.sass */
#recruitment .content .persons img {
  margin: 20px;
  opacity: 0.83;
}
/* line 332, ../../sass/style.sass */
#recruitment .content .persons .limitOfPerson {
  margin-top: 20px;
  color: white;
  font-size: 100px;
  font-weight: bolder;
  text-align: center;
}

/* line 345, ../../sass/style.sass */
#schedule {
  background-color: #bc61e7;
}
/* line 347, ../../sass/style.sass */
#schedule .content {
  height: 700px;
}
/* line 349, ../../sass/style.sass */
#schedule .content #sheduleOutline {
  color: white;
}
/* line 351, ../../sass/style.sass */
#schedule .content #sheduleOutline h1 {
  padding-top: 100px;
  color: white;
  font-size: 100px;
}
/* line 355, ../../sass/style.sass */
#schedule .content #sheduleOutline p.period {
  margin-top: 109.5px;
  font-size: 81px;
  font-weight: bolder;
}
/* line 359, ../../sass/style.sass */
#schedule .content #sheduleOutline img.calender {
  position: absolute;
  right: 0;
  top: 150px;
}

/* line 369, ../../sass/style.sass */
#cost {
  background-color: #5aaae7;
}
/* line 371, ../../sass/style.sass */
#cost .content {
  height: 700px;
}
/* line 373, ../../sass/style.sass */
#cost .content h1 {
  padding-top: 100px;
  color: white;
  font-size: 100px;
}
/* line 377, ../../sass/style.sass */
#cost .content img {
  position: absolute;
  right: 0;
  top: 150px;
}

/* line 394, ../../sass/style.sass */
#photos {
  height: 10000px;
  background: url(../img/sparkles.gif), url(../img/bg-top.png), url(../img/bg-bottom.png);
  background-position: top, top, bottom;
  background-repeat: repeat, repeat-x, repeat-x;
}

/* line 404, ../../sass/style.sass */
#prize {
  position: relative;
  height: 1000px;
  background: url(../img/ipad.png) no-repeat;
  background-color: #00b9c1;
  margin: 0 auto;
}
/* line 411, ../../sass/style.sass */
#prize p {
  position: absolute;
  width: 100%;
  margin: 0px auto;
  text-align: center;
  font-size: 100px;
  font-weight: bolder;
  color: white;
}

/* line 425, ../../sass/style.sass */
#applicationForm {
  background-color: #00b9c1;
  height: 1500px;
}
/* line 429, ../../sass/style.sass */
#applicationForm .content {
  text-align: center;
  width: 1000px;
}
/* line 432, ../../sass/style.sass */
#applicationForm .content img#finalMessage {
  margin: 0px auto 200px auto;
  display: block;
}
/* line 437, ../../sass/style.sass */
#applicationForm .ghostButton {
  border-radius: 24px;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  padding: 72px 120px;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: normal;
  color: white;
  border: 8px solid white;
  text-align: center;
  background: rgba(0, 0, 0, 0);
  letter-spacing: 8px;
  text-transform: uppercase;
  display: inline-block;
  box-shadow: none;
  -webkit-box-shadow: none;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}
